* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hide {
  display: none;
}
.info {
  padding: 15px;
  font-size: 25px;
}

.board {
  display: grid;
  height: 400px;
  width: 400px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
  gap: 2px;
  padding: 2px;
  background-color: #ccc;
}

.cell {
    font-size: 5rem;
    border: 1px solid grey;
    cursor: pointer;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.nav {
  position: absolute;
  left: 65px;
  top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background: cadetblue;
}

.form-game {
  width: 500px;
  background-color: #d5d5d5;
  padding: 25px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.form-game input{
  width: 100%;
  padding: 5px 10px;
  border: none;
  outline: none;
  margin-top: 10px;
  margin-bottom: 12px;
}

.playBtn {
  display: flex;
  margin: auto;
  padding: 10px 40px;
}